@use "../../scss/" as *;
.cart {
  .ant-drawer-content {
    background-color: var(--footer-bg);
  }
  .ant-drawer-header {
    background-color: var(--main-color);
    border-bottom: none;
    button,
    .ant-drawer-title {
      color: var(--txt-color);
      font-size: 1.25rem;
      font-family: $salsa;
      font-weight: 500;
    }
  }
  .ant-drawer-body {
    padding: 20px 15px 45px;
  }
}
.cart {
  span,
  p,
  a {
    font-family: $rubik;
  }
  .cart-content {
    .cart-list {
      .cart-item {
        display: flex;
        height: 120px;
        margin-bottom: 20px;
        .img {
          width: 120px;
          height: 100%;
          background-color: var(--body-color);
          margin-right: 15px;
          a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 15px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .content {
          @include flex(space-between, space-between);
          flex-direction: column;
          flex: 1;
          .top,
          .body {
            @include flex(center, space-between);
            .title {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 230px;
              h5 {
                font-family: $gotham-black;
                font-weight: 600;
                font-size: 1.125rem;
                margin-bottom: 0;
              }
              p {
                font-size: .6875rem;
                text-transform: uppercase;
              }
            }
            .remove-item {
              font-size: 1.25rem;
              cursor: pointer;
            }

            .quantity-btn {
              @include flex(center, center);
              font-size: 1.5rem;
              border: 1px solid var(--txt-color);
              border-radius: 50px;
              span {
                margin: 0.5rem 1rem;
                font-size: 1rem;
              }
              button {
                @include flex(center, center);
                cursor: pointer;
                border: none;
                outline: none;
                background: transparent;
              }
              button.disable-btn {
                opacity: 0.4;
              }
            }
            .price {
              margin-bottom: 0;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  .cart-footer {
    padding-top: 20px;
    .sub-total {
      .sub-total-label {
        margin-bottom: 0;
        font-size: 0.75rem;
        opacity: 0.95;
        strong {
          font-size: 1rem;
          opacity: 1;
        }
      }
      h3 {
        font-size: 2.5rem;
      }
    }
    .checkout {
      @include flex(center, center);
      .checkout-btn {
        @include flex(center, center);

        background-color: var(--main-color);
        color: var(--txt-color);
        border: none;
        width: 90%;
        padding: .75rem;
        cursor: pointer;
        // transition: all 0.3s;
        border-radius: 10px;
        span {
          font-size: 1.125rem;
          font-weight: 500;
        }
        svg {
          color: var(--txt-color);
        }
        // &:hover {
        //   background-color: transparent;
        //   border: 1px solid var(--main-color);
        // }
      }
    }
  }
}
