@use "../../scss/" as *;
.categories {
  &__header {
    position: relative;
    @include flex(center, center);
    min-height: 500px;
    .catImg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
      }
    }
    .title {
      margin-top: 5rem;
      text-transform: capitalize;
      font-size: 4rem;
      color: var(--txt-color);
    }
  }

  &__body {
    margin-top: 5rem;
    margin-bottom: 10rem;
    .left {
      @include mobile {
        @include flex(flex-start, space-around);
      }
    }
    .filterItem {
      h2 {
        font-size: 2rem;
      }
      .inputItem {
        margin-bottom: 0.5rem;
        span {
          text-transform: capitalize;
          font-size: 1.25rem;
        }
        .ant-checkbox-inner {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}
