@use "../../scss/" as *;
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400);

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  overflow: hidden;
  @include flex(center, center);
  z-index: 9999;

  h1 {
    margin: 0;
    padding: 0;
    font-family: ‘Arial Narrow’, sans-serif;
    font-weight: 100;
    font-size: 5em;
    letter-spacing: 2px;
    color: #a3e1f0;
  }

  span {
    position: relative;
    top: 0;
    display: inline-block;
    text-transform: uppercase;
    transform: rotateX(-360deg);
  }

  .let1 {
    animation: drop .8s ease-in-out infinite;
    animation-delay: 0s;

  }

  .let2 {
    animation: drop .8s ease-in-out infinite;
    animation-delay: .1s;
  }

  .let3 {
    animation: drop .8s ease-in-out infinite;
    animation-delay: .2s;

  }

}

@keyframes drop {
  100% {
    opacity: 0;
  }
}
