@use "./scss/" as *;
@import url("https://fonts.cdnfonts.com/css/gotham");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&family=Salsa&display=swap");
@import "./assets/fontawesome/scss/fontawesome.scss";
:root {
  --main-color: #{$main-color};
  --secondary-color: #{$secondary-color};
  --body-color: #{$body-color};
  --txt-color: #{$white};
  --footer-bg: #1e1e2a;
  --header-small-bg: #1d1d2a;
  --divider-color: rgba(114, 116, 142, 0.4);
  --load-bg: #1d1d2a;
}
// html,body {
//   overflow-x: hidden;
// }
#root {
  overflow-x: hidden;
}
body {
  font-family: $rubik;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem !important;
  @include tablet {
    font-size: 0.9375rem;
  }
  @include mobile {
    font-size: 0.875rem;
  }

  // background-color: $body-bg;
  // color: $txt-color;
  background-color: var(--body-color) !important;
  color: var(--txt-color) !important;

  @include mobile {
    margin-bottom: 3rem;
  }
}
html,
body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: $salsa;
  color: var(--txt-color);
}
p {
  font-family: $rubik;
}
a {
  font-family: $salsa;
  text-decoration: none;
  color: unset;
}
h3 {
  font-size: 1.25rem;
}

@media (hover: hover) {
  a:hover {
    color: var(--main-color);
  }
}
button,
input {
  outline: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
iframe {
  border: 0;
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: #252525;
  border: 0;
  opacity: 0.25;
}
hr:not([size]) {
  height: 1px;
}
.container {
  width: 100%;
  max-width: 100%;
  padding: 0 6.75%;
  height: auto;
  margin: auto;
  @include tablet {
    width: 100%;
    padding: 0 1rem;
  }
  @include mobile {
    padding: 0.5rem;
  }
}
.container.pd-20-percent {
  padding: 0 20%;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.main {
  width: 100%;
  height: auto;
}
.section {
  // width: 100%;
  // height: 100vh;
  position: relative;
  padding: 0 2rem;
  @include tablet {
    padding: 3.75rem 2rem;
  }
}
.section__header {
  @include flex(center, space-between);
}
.text-bg {
  font-family: $gotham-black;
  font-weight: 700;
  font-size: 100px;
  color: rgba($secondary-color, 0.2);
  text-transform: uppercase;
}
.slide {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: var(--load-bg);
  z-index: 9998;
  animation: slide 0.5s cubic-bezier(1, -0.01, 0.64, 1.02) forwards;
}
@keyframes slide {
  0% {
    top: 0;
    opacity: 1;
  }
  99% {
    top: 99%;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
    display: none;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.01;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes slide {
  0% {
    top: 0;
    opacity: 1;
  }
  99% {
    top: 99%;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
    display: none;
  }
}
// Checkbox
